body{
    font-family: 'Rubik', sans-serif;
    height:100%
}
.fakeimgA {
    height: 200px;
	width:200px;
    background: #aaa;
	 background-size: 100% 100%;
border-radius: 91px 0px 72px 72px;
-moz-border-radius: 91px 0px 72px 72px;
-webkit-border-radius: 91px 0px 72px 72px;
border: 1px solid #000000;
 }
  
#zdjecie2{
    height: 300px;
	width:80%;
    background: #aaa;
		 background-size: 100% 100%;
	border-radius: 19px 0px 19px 19px;
-moz-border-radius: 19px 0px 19px 19px;
-webkit-border-radius: 19px 0px 19px 19px;
border: 1px solid #000000;
}
.autor{
	border-right: 1px solid black;
	
}

#wykresWart{
	display: none;
	float:left;
	width:50%;
}


#chartdiv{
	display: none;	
		float:left;
	 width:50%;
	height: 500px;
}

#wykresy{

}