body {
	background-image: url("https://i.imgur.com/72YWlkH.jpg");
	font-family: 'Open Sans', sans-serif;
	height: 100%
}

.fakeimgA {
	height: 200px;
	width: 200px;
	background: #aaa;
	background-size: 100% 100%;
	border-radius: 91px 0px 72px 72px;
	-moz-border-radius: 91px 0px 72px 72px;
	-webkit-border-radius: 91px 0px 72px 72px;
	border: 15px solid rgba(217, 217, 217, .6);
	-webkit-background-clip: padding-box;
	/* for Safari */
	background-clip: padding-box;
}

ol {
	list-style: none;
	font-family: 'Open Sans', sans-serif;
}

ol li {
	border-bottom: 1px dotted #000;
	width: 300px;
}

.green {
	font-family: 'Open Sans', sans-serif;
}

.red {
	font-family: 'Nixie One', cursive;
}

.red2 {
	font-family: 'Nixie One', cursive;
	font-weight: bold;
}

#zdjecie2 {
	height: 300px;
	width: 80%;
	background: #aaa;
	background-size: 100% 100%;
	border-radius: 19px 0px 19px 19px;
	-moz-border-radius: 19px 0px 19px 19px;
	-webkit-border-radius: 19px 0px 19px 19px;
	border: 10px solid rgba(217, 217, 217, .6);
	-webkit-background-clip: padding-box;
	/* for Safari */
	background-clip: padding-box;
}

.autor {
	border-right: 30px solid rgba(217, 217, 217, .15);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;

}

#wykresWart {
	display: none;
	float: left;
	width: 50%;
}


#chartdiv {
	display: none;
	float: left;
	width: 50%;
	height: 500px;
}

#wykresy {}
